<style>
	#showsList{
		padding: 0 20px;
		padding-top: 20px;
	}

	#showsList h2{
		font-size: 16px;
		margin-bottom: 22px;
		padding: 0 12px;
	}

	.show-item{
		position: relative;
		text-align: center;
		width: calc(25% - 6px);
		margin-right: 6px;
		margin-bottom: 30px;
		transition: all 0.35s ease-out;
	}

	.show-item:not(:nth-child(even)){
		/*margin-right: 20px;*/
	}

	.show-item .image{
		height: 140px;
		margin: auto;
		margin-bottom: 8px;
		width: 95.2px;
		height: 140px;
		background: #ddd;
		-webkit-background-size: cover;
		background-size: cover;
		background-position: top;
	}

	.show-item .image img{
		height: 100%;
	}

	.show-item h3{
		margin: auto;
		overflow: hidden;
		width: 90%;
		white-space: nowrap;
		-ms-text-overflow: ellipsis;
		text-overflow: ellipsis;
		font-size: 1em;
		margin-bottom: 5px;
	}

	.show-item p{
		font-size: 0.85em;
		padding-bottom: 8px;
		color: #777
	}

	.show-item p + p{
		font-size: 0.7em;
		color: #aaa
	}

	#loaderWrapper{
		background: #f0f0f0;
		background: #fff;
		position: absolute; 
		top: 55px; left: 0; 
		width: 100%;height: calc(100vh - 145px);
		transition: opacity 0.35s ease-out;
	}

	#loaderWrapper:not(.visible){
		opacity: 0;
		pointer-events: none;
	}
</style>

<div id="showsList"
	ng-nicescroll
    nice-option="{cursorcolor: '#aaa', cursoropacitymin: 0.7, cursoropacitymax: 0.7, cursorwidth: '8px', cursorborder: 'none', oneaxismousemode: true}"
    style="height: calc(100vh - 93.6px); overflow-x: hidden !important; overflow-y: auto;">
    <h2>{{$ctrl.titleMap[$ctrl.filter]}}</h2>

	<div id="loaderWrapper" class="layout center-center" ng-class="{'visible' : $ctrl.listLoading}">
		<span class="loader"></span>
	</div>

	<div class="layout wrap"
		infinite-scroll="$ctrl.fetchMoreShows()" 
		infinite-scroll-distance="2"
		infinite-scroll-immediate-check="false"
		infinite-scroll-parent="true"
		infinite-scroll-disabled="$ctrl.listLoading || $ctrl.fetch">
		<div class="show-item" ng-click="$ctrl.onViewShow({show: show})" ng-repeat="show in $ctrl.filtered_shows track by $index">
			<div class="image" style="background-image: url('{{show.poster}}');">
				<!-- <img ng-src="{{show.poster}}" alt=""> -->
			</div>
			<h3>
				{{show.name}}
			</h3>
			<p>
				{{show.time}} &nbsp; - &nbsp; <strong>{{show.network}}</strong>
			</p>
		</div>
	</div>
</div>